{{ $p := . }}
<article class="project">
	<div>
		<h2><a href="{{ $p.RelPermalink }}">{{ $p.Title }}</a></h2>

		<ul class="no-bullets tags">
			{{ with $p.Param "maturity" }}
				{{ $termPage := $p.Site.GetPage (printf "/maturity/%s" ( . | urlize )) }}
				<li>
					<span class="annotation">
						<a class = "annotation-key" href = "/maturity">Maturity</a><a class = "annotation-value" href="{{ $termPage.RelPermalink }}">{{ $termPage.LinkTitle }}</a>
					</span>
				</li>
			{{ end }}
			{{ with $p.Param "involvement" }}
				{{ $termPage := $p.Site.GetPage (printf "/involvement/%s" ( . | urlize )) }}
				<li>
					<span class="annotation">
						<a class = "annotation-key" href = "/involvement">Involvement</a><a class = "annotation-value" href="{{ $termPage.RelPermalink }}">{{ $termPage.LinkTitle }}</a>
					</span>
				</li>
			{{ end }}
			{{ range $k, $v := $p.Param "annotations" }}
				{{ if and (ne $k "Maturity") (ne $k "maturity") (ne $k "Involvement") (ne $k "involvement") }}
				<li><span class="annotation"><span class="annotation-key">{{ $k }}</span><span class="annotation-value">{{ $v }}</span></span></li>
				{{ end }}
			{{ end }}

			{{ range $p.Param "tags" }}
			<li><a class = "tag" href="">{{ . }}</a></li>
			{{ end }}
		</ul>

		<aside class="mt3">{{ $p.Param "description" | default $p.Content | markdownify }}</aside>
		<ul>
			<li><a href="https://github.com/{{ $p.Param "repo" }}">{{ $p.Title }} on GitHub</a></li>

			{{ $docs := $p.Param "docs" }}
			{{ if not $docs }}
				{{ $docs = printf "https://jamesread.github.io/%s" $p.Title }}
			{{ end }}

			<li><a href="{{ $docs }}">{{ $p.Title }} Documentation</a></li>

			{{ range $p.Param "links" }}
			{{ end }}
		</ul>
	</div>
	<div class="logo-container">
		{{ $logo := $p.Param "logo" }}
		{{ if not $logo }}
			{{ $logo = printf "https://raw.githubusercontent.com/%s/refs/heads/main/logo.png" ($p.Param "repo") }}
		{{ end }}

		<img src="{{ $logo }}" alt="{{ $p.Title }} logo" class="logo" />
	</div>
</article>
